/* NAVIGATION BAR */
#navbar{

    flex-direction: column;
}
#navbar ul li a {
    font-size: 1rem;
    padding: 0px 9px;
    padding-bottom: 9px;
}
/* home section */
#home{
    height: 450px;
    padding: 4px 28px;

}
#home ::before{
    height: 400px;
}
#home p{
    font-size: 15px;
}
#services{

    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 4px;
    margin-bottom: 20px;
}
/* client section */
#clients{
    overflow: hidden;
flex-wrap: wrap;
}
#clients img{
    width: 65px;
    padding: 8px;
    height: auto;
}
/* contact section */
#contact-box form{
    width: 80%;

}
/* footer */

/* utility classes */
.h-primary{
    font-size: 25px
    
    flex-direction: column;
}
.btn{
    font-size: 12px;
    padding: 5px 9px;

} 